*{
    margin: 0px;
    padding: opx;
}
body{
    font-size: 120%;
    background: #f9f
}
.header{
    width: 380px;
    margin: 50px auto 0px;
    color: darkgrey;
    background: #539;
    text-align: center;
    /* border: 1px solid #b0c; */
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.frame{
    width: 400px;
    background-color: lightgrey;
    border: 10px solid darkgrey;
    margin: 0 auto;
}
.frame-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #539;
    color: darkgrey;
    text-align: center;
    text-decoration: none;
}
#canvas{
    display:none;
}