*{
    margin: 0px;
    padding: opx;
}
a{
    color: rgb(0, 119, 255);
}
body{
    font-size: 120%;
    background: #f9f;
}
button{
    background-color: darkgrey;
    border: none;
    color: #539;
    width: 150px;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.header{
    width: 380px;
    margin: 50px auto 0px;
    color: darkgrey;
    background: #539;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.main-header{
    color: darkgrey;
    background: #539;
    text-align: center;
    position: fixed;
    width:100%;
    /* border-bottom: none; */
    padding: 20px;
    z-index: 10;
}
.main-footer{
    color: darkgrey;
    background: #539;
    text-align: center;
    position: fixed;

    /* border-bottom: none; */
    padding: 20px;
    z-index: 10;
}
#form{
    width: 380px;
    margin: 0px auto;
    padding: 20px;
    background: darkgrey;
    border-radius: 0px 0px 10px 10px;
}
#upload-form{
    width: 370px;
    margin: 0px auto;
    padding: 20px;
}
.input-group{
    margin: 10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkblue;
}
.button{
    padding: 10px;
    font-size: 15px;
    color: darkgrey;
    background: #539;
    border: none;
    border-radius: 5px;
}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f9f;
    border-radius: 5px;
    text-align: left;
}
.frame{
    width: 400px;
    position: relative;
    top:150px;
    background-color: lightgrey;
    border: 10px solid darkgrey;
    margin: 0 auto;
}
.overlay{
    position: absolute;
}
.frame-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #539;
    color: darkgrey;
    text-align: center;
    text-decoration: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center
}
#canvas{
    display:none;
}